* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav_head {
  position: fixed;
  width: 100%;
  background-color: #684ca9;
  padding: 1rem 3rem;
}
.nav_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav_logo {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.nav_logo span {
  color: #85ce07;
}
.nav_bullet {
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  font-weight: 600;
}
.nav_bullet:hover {
  border-bottom: 2px solid #ffffff;
}

h1 {
  font-size: 4rem;
}
#ham-menu {
  display: none;
}
.nav_bar.active {
  left: 0;
}
@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }
  .nav_head {
    padding: 2.2rem 5rem;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }
  #ham-menu {
    display: block;
    color: #ffffff;
  }
  .nav_logo#logo,
  #ham-menu {
    font-size: 3.2rem;
  }
  .nav_bar {
    background-color: black;
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 50%;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
}
@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }
  header {
    padding: 2rem 3rem;
  }
  .nav_bar {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}
/* ------------------------------------------------------------------------- */

.about_me{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_about{
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.content_about img{
  width: 380px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
}
.text_content{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}
.about_me_title{
  font-size: 30px;
  color: #684ca9;
  letter-spacing: 1px;
  font-weight: 1000;
  margin-bottom: 10px;
}
.title_about{
  font-size: 60px;
  color: #e77dc5;
  font-weight: 800;
  margin-bottom: 20px;
}
.desc_about{
  font-size: 18px;
  color: #808080;
  line-height: 30px;
  margin-bottom: 40px;
}
.resume_btn{
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #111111;
  border-radius: 80px;
  border: 2px solid #000000;
}
.resume_btn:hover{
  background-color: rgb(225, 150, 232);
  border: none;
  color: #ffffff;
  box-shadow: 0px 15px 20px rgba(225, 150, 232, .6);
transform: translateY(-7px);

}
@media screen and (max-width: 768px){
  .about_me{
      height: auto;
      width: 100%;
      padding: 60px 0;
  }
  .text_content{
      text-align: center;
      margin-top: 40px;
  }
}
@media screen and (max-width: 414px){
  .content_about img{
      margin-bottom: 35px;
  }
  .title_about{
      font-size: 40px;
      margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1032px) { 
  .about_me{
    padding-top: 450px;
  }
}
/* -------------------------------------------------------------------------------- */

.exp_sec_title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 0.8;
  color: #684ca9;
  position: relative;
  /* margin-top: 30px; */
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.exp_sec_title span{
    color: rgb(240, 108, 200);
}
.exp_section{
  display: grid;
  align-items: center;
  /* height: 50vh; */
  padding: 2rem;
}
.exp_container{
  max-width: 900px;
  margin: auto;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, .2);
  padding: 2rem;
  border-radius: 10px;
}
.exp_box{
  padding: 1.5rem;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  margin: 1rem 0;
}
.exp_box:nth-child(1){
  background-color: rgba(106, 145, 236, 0.4);
}
.exp_box:nth-child(2){
  background-color: rgba(186, 57, 200, 0.4);
}
.exp_box::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  border-radius: 20px;
}
.exp_box:nth-child(1)::before{
  background-color: rgb(149, 170, 213);
}
.exp_box:nth-child(2)::before{
  background-color: rgb(212, 109, 154);
}
.box_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus_icon{
  font-size: 1.5rem;
  transition: all .2s ease;
}
.trigger_drop .plus_icon{
  transform: rotate(45deg);
}
.box_content{
  height: 0;
  overflow: hidden;
  transition: all .3s ease;
}
.trigger_drop .box_content{
  height: auto;
  padding: .5rem;
}
@media screen and (max-width: 1024px){
  .exp_sec_title{
      padding-top: 100px;
  }
}

@media screen and(max-width: 425px){
  .exp_section{
      padding: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1032px) { 
  .exp_section{
    padding-top: 450px;
  }
}
.box_headtitle{
  font-size: 30px;  
}
.box_title{
  font-family: Cambria;
  font-style: italic;
}